# Ignore docs files
_gh_pages
_site
.ruby-version
Gemfile.lock
.jekyll-cache

# Numerous always-ignore extensions
*.diff
*.err
*.orig
*.log
*.rej
*.swo
*.swp
*.zip
*.vi
*~

# OS or Editor folders
.DS_Store
._*
Thumbs.db
.cache
.project
.settings
.tmproj
*.esproj
nbproject
*.sublime-project
*.sublime-workspace
.idea

# Komodo
*.komodoproject
.komodotools

# grunt-html-validation
validation-status.json
validation-report.json

# Folders to ignore
node_modules
GRTAGS
GTAGS
GPATH
deploy.sh
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/04/ce84307c369120b9592997f71720c5c417fc2a3e9bc2ea14cce2e6f1ff12a2
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/05/107823490235d98b71ac56149c30bfdccdc6919e430c1509bac826d0c2fa05
.jekyll-cache/Jekyll/Cache/Jekyll--Converters--Markdown/05/107823490235d98b71ac56149c30bfdccdc6919e430c1509bac826d0c2fa05
.jekyll-cache/Jekyll/Cache/Jekyll--Cache/b7/9606fb3afea5bd1609ed40b622142f1c98125abcfe89a76a661b0e8e343910
_data/scripts/.ipynb_checkpoints/paper_processing-checkpoint.ipynb
